accelerate
compel==2.0.3
deepcache==0.1.1
diffusers==0.30.3
einops==0.8.0
hf-transfer
ipykernel
ipywidgets
modal==0.64.130
numpy==1.26.4
peft
pillow
ruff==0.5.7
spandrel==0.4.0
spandrel-extra-arches==0.2.0
torch==2.2.0
torchvision==0.17.0
transformers==4.43.4
